vti_encoding:SR|utf8-nl
vti_author:SR|usrhnb
vti_modifiedby:SR|usrhnb
vti_timelastmodified:TR|18 Oct 2010 20:42:44 -0000
vti_timecreated:TR|05 Oct 2010 18:34:34 -0000
vti_extenderversion:SR|5.0.2.4803
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TW|18 Oct 2010 20:41:32 -0000
vti_cacheddtm:TX|18 Oct 2010 20:42:44 -0000
vti_filesize:IR|14346
vti_cachedlinkinfo:VX|S|http://s3.amazonaws.com/hnb/grid.png S|http://s3.amazonaws.com/hnb/email.png S|http://s3.amazonaws.com/hnb/pdf.png S|http://s3.amazonaws.com/hnb/doc.png S|http://s3.amazonaws.com/hnb/xls.png S|http://s3.amazonaws.com/hnb/feed.png S|http://s3.amazonaws.com/hnb/im.png
vti_cachedsvcrellinks:VX|NSHS|http://s3.amazonaws.com/hnb/grid.png NSHS|http://s3.amazonaws.com/hnb/email.png NSHS|http://s3.amazonaws.com/hnb/pdf.png NSHS|http://s3.amazonaws.com/hnb/doc.png NSHS|http://s3.amazonaws.com/hnb/xls.png NSHS|http://s3.amazonaws.com/hnb/feed.png NSHS|http://s3.amazonaws.com/hnb/im.png
